/* MOBILE FIRST */
html {
   scroll-behavior: smooth;
}
body {
   background: black;

}
/* Designer Pagina */
.skewedBox  {
   padding-top: 100px 0;
   transform: skew(0deg, 18deg) translateY(-300px);
   width: 100%;
   height: 500px;
   z-index: 1002;
 
}
.brand-logo {
   z-index: 2;
}
/* Menu */
header nav {
   background-color: transparent;
   
}
.nav-wrapper {
   z-index: 999;
}
.side-nav {
   z-index: 998;
   width: 230px;
}

#perfil-foto{
   display: flex;
   justify-content: center;
}
#perfil-foto img{
   transform: skew(0deg, -18deg);
   margin-top: 420px;
}
.texto-perfil {
   color: white;
   transform: skew(0deg, -18deg);
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.texto-perfil h1 {
   font-size: 2.5em;
   margin: 10px auto;
   text-align: center;
}
.texto-perfil p {
   font-size: 1em;
   margin-left: 50px;
   text-align: left;
}
/* Main */
.carousel {
   margin-top: 240px;
   transform: skew(0deg, -3deg);
}
.laranja {
   background-color: #dd7e25;
}
#servicos h2 {
   color: white;
   text-align: center;
   font-size: 2.5em;
}
.card {
   margin-bottom: -5px;
}
.card .card-image img {
   width: 100%;
   margin-left: 0;
   margin-right: 0;
}

/* Footer */
.page-footer {
   background: black;
}
.page-footer h2 {
   font-size: 2.5em;
   text-align: center;
}
#wt-em {
   display: flex;
   flex-direction: column;
}
.txem h2{
   position: relative;
   font-size: 1.3em;
   text-align: left;
   top: -18px;
   padding: 5px;
}
#wt-em img {
   width: 100%;
   height: 50px;
   position: relative;
   bottom: 30px;
}
#social-icons {
   display: flex;
   flex-direction: row;
}
#social-icons img {
   width: 100%;
   height: 50px;
}

@media only screen and (min-width: 390px) {
   #perfil-foto img{
      height: 220px;
      margin-top: 400px;
   }
   .carousel {
      margin-top: 200px;
   }
}
@media only screen and (min-width: 470px) {
   #perfil-foto img{
      height: 270px;
   }
}
@media only screen and (min-width: 500px) {
   .card .card-image img{
      height: 190px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
   }
}

/* Tablet */
@media only screen and (min-width: 601px) {
   #perfil-foto img{
      display: none;
   }
   .row .col.m6 {
      width: 48%;
      margin-left: 8px;
      margin-bottom: 3px;
   }
   .card-image img{
      height: 175.8px;
      margin: 0;
   }
   .card3d {
      z-index: 1001;
      position: absolute;
      left: 10%;
      top: 140%;
      color: white;
      width: 200px;
      height: 300px;
      transform: translate(-50%, -50%);
      transform-style: preserve-3d;
      transform: skew(0, -18deg);
      perspective: 600px;
      transition: 0.5s;
      

   }
   .card3d .front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      backface-visibility: hidden;
      
      transition: 0.5s;
   }
   .card3d:hover .front {
      transform: rotateX(-180deg);
   }
   .card3d .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      backface-visibility: hidden;
      transform: rotateX(180deg);
      transition: 0.5s;
      border: 1px solid white;
   }
   .card3d:hover .back {
      transform: rotateX(0deg);
   }
   .card3d img {
      width: 200px;
      height: 300px;
      border: 1px solid white;
   }
   .card3d .detail h2{
      text-align: center;
      font-size: 1.2em;
   }
   section .wave {
      position: absolute;
      width: 100%;
      height: 95px;
      bottom: 0px;
      left: 0;
      background: url(/Blog-Final/img/wave.png);
      animation: animate 10s linear infinite;
    }
    section .wave::before{
      content: '';
      width: 100%;
      height: 95px;
      background: url(/Blog-Final/img/wave.png);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      animation: animate reverse 5s linear infinite;
    }
    section .wave::after{
      content: '';
      width: 100%;
      height: 95px;
      background: url(/Blog-Final/img/wave.png);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.8;
      animation-delay: -5s;
      animation: animate 20s linear infinite;
    }
    @keyframes animate {
      0% {
        background-position: 0;
      }
      100% {
        background-position: 1360px;
      }
    }
    @keyframes animate-reverse {
      0% {
        background-position: 1360px;
      }
      100% {
        background-position: 0;
      }
    }
    .texto-perfil {
       color: white;
       position: relative;
       transform: skew(0deg, -18deg);
       top: 75%;
    }
}
/* desktop */
@media only screen and (min-width: 993px){
   .row .col.l3 {
      width: 24%;
      margin-left: 8px
   }
   .card img{
      height: 175.8px;
   }
}

@media only screen and (min-width: 1040px){
   .row .col.l3 {
      margin-left: 10px;
   }
}